:root{
    --color-button: #a5a5a5;
    --color-main: #72a9ff;
    --color-light: #F3F3F0;
    --accent-light: #7990BD;
}

#navbar {
    text-decoration: none;
    display: inline-block;
    width: 60%;
}

.nav-right {
    display: inline-block;
    text-align: right;
    width: 35%;
}

.nav-text {
    font-size: 4em;
    font-weight: bold;
    color: var(--color-light);
}

.prof-text {
    font-size: 3em;
    color: var(--color-light);
    text-decoration: none;
}


h1.home {
    color: var(--color-light);
    display: inline-block;
    font-size: 3em;
    margin: var(--spacing);
    text-decoration: none;
    width: 60%;
}
